NV_CLIENT/Web References/bsite/NVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://antran.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://antran.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://antran.org/">
      <s:element name="laydanhsach">
        <s:complexType />
      </s:element>
      <s:element name="laydanhsachResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="laydanhsachResult" type="tns:ArrayOfChitietNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChitietNV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChitietNV" nillable="true" type="tns:ChitietNV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChitietNV">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Manv" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chucvu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phongban" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chuthich" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Getdetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetdetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetdetailsResult" type="tns:ChitietNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ArrayOfChitietNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Addnew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newnhanvien" type="tns:ChitietNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddnewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddnewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newnhanvien" type="tns:ChitietNV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="laydanhsachSoapIn">
    <wsdl:part name="parameters" element="tns:laydanhsach" />
  </wsdl:message>
  <wsdl:message name="laydanhsachSoapOut">
    <wsdl:part name="parameters" element="tns:laydanhsachResponse" />
  </wsdl:message>
  <wsdl:message name="GetdetailsSoapIn">
    <wsdl:part name="parameters" element="tns:Getdetails" />
  </wsdl:message>
  <wsdl:message name="GetdetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetdetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="AddnewSoapIn">
    <wsdl:part name="parameters" element="tns:Addnew" />
  </wsdl:message>
  <wsdl:message name="AddnewSoapOut">
    <wsdl:part name="parameters" element="tns:AddnewResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="NVServiceSoap">
    <wsdl:operation name="laydanhsach">
      <wsdl:input message="tns:laydanhsachSoapIn" />
      <wsdl:output message="tns:laydanhsachSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getdetails">
      <wsdl:input message="tns:GetdetailsSoapIn" />
      <wsdl:output message="tns:GetdetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Addnew">
      <wsdl:input message="tns:AddnewSoapIn" />
      <wsdl:output message="tns:AddnewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NVServiceSoap" type="tns:NVServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="laydanhsach">
      <soap:operation soapAction="http://antran.org/laydanhsach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdetails">
      <soap:operation soapAction="http://antran.org/Getdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://antran.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addnew">
      <soap:operation soapAction="http://antran.org/Addnew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://antran.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://antran.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NVServiceSoap12" type="tns:NVServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="laydanhsach">
      <soap12:operation soapAction="http://antran.org/laydanhsach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getdetails">
      <soap12:operation soapAction="http://antran.org/Getdetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://antran.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addnew">
      <soap12:operation soapAction="http://antran.org/Addnew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://antran.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://antran.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NVService">
    <wsdl:port name="NVServiceSoap" binding="tns:NVServiceSoap">
      <soap:address location="https://bsite.net/antran2598/NVService.asmx" />
    </wsdl:port>
    <wsdl:port name="NVServiceSoap12" binding="tns:NVServiceSoap12">
      <soap12:address location="https://bsite.net/antran2598/NVService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>